.small-form__select .mat-mdc-select-arrow svg {
  transform: translate(-50%, -130%) !important;
}

mat-form-field {
  margin-bottom: 16px;
}

mat-error {
  width: 300px;
  margin-left: -20px;
}

.email-form mat-error {
  width: 100% !important;
}
